:root {
    color-scheme: light dark;

    /* Fonts & Sizes */
    font-family: 'Inter', ui-sans-serif;
    --font-scale: 1.333;
    --p: 1rem;
    --h5: calc(var(--p) * var(--font-scale));
    --h4: calc(var(--h5) * var(--font-scale));
    --h3: calc(var(--h4) * var(--font-scale));
    --h2: calc(var(--h3) * var(--font-scale));
    --h1: calc(var(--h2) * var(--font-scale));
    --small: calc(var(--p) / var(--font-scale));

    --margin-lg: 0 12%;
    --margin-md: 0 6%;
    --border1: 1rem;
    --border05: 0.5rem;
}

/* Colors */
[data-theme="light"] {
    --text: #4c4f69;
    --subtext: #6c6f85;
    --background: #eff1f5;
    --primary: #8839ef;
    --secondary: #7287fd;
    --accent: #ea76cb;
}

[data-theme="dark"] {
    --text: #cdd6f4;
    --subtext: #a6adc8;
    --background: #1e1e2e;
    --primary: #cba6f7;
    --secondary: #89b4fa;
    --accent: #f5c2e7;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 1rem;
    line-height: 1.5;
}