.gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-effect {
    background: linear-gradient(120deg, var(--primary-color), var(--accent-color));
}

.color-effect-secondary {
    background: linear-gradient(120deg, var(--primary-color), var(--secondary-color));
}

.color-effect-accent {
    background: linear-gradient(120deg, var(--accent-color), var(--secondary-color));
}

body.dark-theme .color-effect,
body.dark-theme .color-effect-secondary,
body.dark-theme .color-effect-accent {
    background: linear-gradient(120deg, var(--dark-primary-color), var(--dark-accent-color));
}

.primary-button {
    padding: 0.5em 2em;
    background: linear-gradient(120deg, var(--primary-color), var(--accent-color));
    color: var(--background-color);
    border-radius: var(--border05);
    transition: transform ease 0.2s, box-shadow ease 0.2s;
    display: inline-block;
    font-size: var(--p);
    z-index: 2;
    white-space: nowrap;
}

.primary-button:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--accent-color);
}

.secondary-button {
    padding: 0.5em 2em;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: var(--border05);
    display: inline-block;
    font-size: var(--p);
    z-index: 1;
    cursor: pointer;
    transition: transform ease 0.2s;
    white-space: nowrap;
}

.secondary-button:hover {
    transform: translate(0, -3px);
}

button {
    cursor: pointer;
}